<div class="ten column center">
  <form action="/login" method="POST">
    
    <div class="field ">
      <label for="email">Email</label>
      <div class="input">
        <input type="email" id="email" name="email">
      </div>
    </div>

    <div class="field ">
      <label for="password">Password</label>
      <div class="input">
        <input type="password" id="password" name="password">
      </div>
    </div>

    <div class="action">
      <input type="submit" value="Login" class="btn fill large primary">
    </div>

  </form>
</div>